<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--Bootsrap 4 CDN-->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!--Fontawesome CDN-->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
	integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	crossorigin="anonymous">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="">
</head>

<body>
	<div th:insert="common/headerAdmin :: headerAdmin"></div>
<main class="container mt-4">
<form th:action="@{/admin/products/saveOrEdit}" method="post"
		th:object="${productDTO}" enctype="multipart/form-data">
	<div class="card">
		<div class="card-header">
		<h2 th:text="${productDTO.isEdit ? 'Edit Product' : 'Add New Product'}"></h2>
		</div>
		<div class="card-body">
		<div class="row">
			<div class="col-6">
			<input type="hidden" th:field="*{isEdit}">
			<div class="form-group" th:if="${productDTO.isEdit}">
			<label for="productId">Product ID : </label>
			<input type="text" th:field="*{productId}" readonly 
			class="form-control" name="productId" id="productId" aria-describedby="helpId" > 
			</div>
			<div class="form-group">
			<label for="name">Product's Name : </label>
			<input type="text" th:field="*{name}"
			class="form-control" name="name" id="name" aria-describedby="helpId" placeholder=""> 
			</div>
			<div class="form-group">
			<label for="quantity">Product's Quantity : </label>
			<input type="number" th:field="*{quantity}"
			class="form-control" name="quantity" id="quantity" aria-describedby="helpId" placeholder=""> 
			</div>
			<div class="form-group">
				<label for="quantity">Product's Price : </label>
				<input type="number" th:field="*{price}"
				class="form-control" name="quantity" id="quantity" aria-describedby="helpId" placeholder=""> 
				</div>
			<div class="form-group">
			<label for="categoryId">Category</label>
			<select th:field="*{categoryId}"
				 class="form-control" name="categoryId" id="categoryId">
				<option th:each=" item : ${categories}" 
				th:value="${item.categoryId}" th:text="${item.name}" 
				th:selected="${item.categoryId == productDTO.categoryId}">Category's name</option>
				
			</select>
			</div>
		</div>
			<div class="col-6">
<script>
	function chooseFile(fileInput) {
		if(fileInput.files && fileInput.files[0]){
			var reader = new FileReader();
			reader.onload = function(e){
				$('#imageProduct').attr('src', e.target.result);
			}
			reader.readAsDataURL(fileInput.files[0]);
		}
	}
</script>
			<img id="imageProduct" src="" 
			style="width: 50%; margin-left: 15%;" class=" img-fluid"  alt="">
			<div class="form-group">
			<label for="imageProduct">Image Product</label>
				<input type="file" name="imageProduct" onchange="chooseFile(this)"
				aria-describedby="helpId">
			</div>
			<div class="input-group form-group">
			<span class="input-group-text">Discount: </span>
			<input type="number"
			 th:field="*{discount}"
			 name="discount" id="discount" class="form-control" >
			<span class="input-group-text">%</span>
			</div>
			<div class="form-group">
			<label for="status">Status</label>
			<select class="form-control" name="status" id="status" th:field="*{status}">
				<option value="0">Hết Hàng</option>
				<option value="1">Đang Bán</option>
				<option value="2">Sản phẩm nổi bật</option>
				<option value="3">Sản phẩm bán chạy nhất</option>
				
			</select>
			</div>
			</div>
			
			
		</div>
		<div class="row">
		<div class="col">
		<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" name="description" th:field="*{descreption}"
				id="description" rows="5"></textarea>
				</div>
		</div>
		
		</div>
		</div>
		<div class="card-footer text-muted">
		<a th:href="@{/admin/products/add}"  class="btn btn-outline-success" >New</a>

		<button type="submit" th:text="${productDTO.isEdit ? 'Update' : 'Save'}" class="btn btn-outline-primary"> 
			<i class="fas fa-save "></i>
			 Save</button>

		<a th:if="${productDTO.isEdit}" th:href="@{'/admin/products/delete/' + ${productDTO.productId}}"
		class="btn btn-outline-danger float-right"> <i class="fas fa-trash "></i> Delete</a>
		</div>
	</div>
</form>
	


		

</main>

	
	<div th:insert="common/footer :: footer"></div>
</body>
</html>